<p id="notice"><%= notice %></p>

<h1>Listing Anuncios</h1>

<table>
  <thead>
    <tr>
      <th>Tipoanuncio</th>
      <th>Ubicacion</th>
      <th>Fechainicial datetime</th>
      <th>Fechafinal</th>
      <th>Valor</th>
      <th>Caracteristica</th>
      <th>Reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anuncios.each do |anuncio| %>
      <tr>
        <td><%= anuncio.tipoAnuncio %></td>
        <td><%= anuncio.ubicacion %></td>
        <td><%= anuncio.fechaInicial_datetime %></td>
        <td><%= anuncio.fechaFinal %></td>
        <td><%= anuncio.valor %></td>
        <td><%= anuncio.caracteristica %></td>
        <td><%= anuncio.reference %></td>
        <td><%= link_to 'Show', anuncio %></td>
        <td><%= link_to 'Edit', edit_anuncio_path(anuncio) %></td>
        <td><%= link_to 'Destroy', anuncio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anuncio', new_anuncio_path %>
