<!DOCTYPE html>
<html>
<head>
  <title>Redsocial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	<a href="#contenido" class="sr-only">Saltar al contenido</a>

	<div class="navbar navbar-default container-fluid" id="contenido">
	
	    
	    <ul class="nav navbar-nav visible-lg">

		 	<li class=""><h1 id="logoTitle"><a href="">FACEMUSIC</a></h1>	</li>
		 	<form class="navbar-form navbar-left" role="search">
		        <div class="col-xs-5">
		          <input type="text" class="form-control" placeholder="Que Buscas?">
		        </div>
		        <div class="col-xs-5">
		          <input type="text" class="form-control" placeholder="Donde?">
		        </div>
		        <button type="submit" class="btn btn-default">Buscar</button>
      		</form>
      		<li><%= link_to('Inicio', root_path) %></li>
      		
      		<li><%= link_to('Red Social', publications_path) %></li>
      		<li><a href="">Servicios</a></li>
      		<li><%= link_to('Registrarme', new_user_registration_path) %></li>
      		
		 </ul>

		 <ul class="nav navbar-nav navbar-right " >
		 	<% if user_signed_in? %>
		 	
		 	<li><a href="" class="glyphicon glyphicon-comment" ></a></li>
		 	<li><a href="" class="glyphicon glyphicon-bell" ></a></li>		 	
		 	
       		<li class="dropdown">
         	 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
	          <ul class="dropdown-menu">

	            <li><a href="#">Ver mi Perfil</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Publicidad en Facemusk</a></li>
	            <li><a href="#">Administrar Publicidad</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Crear Anuncio</a></li>
	            <li role="separator" class="divider"></li>
	            
	            <li role="separator" class="divider"></li>
	            <li><a href="#" class="glyphicon glyphicon-cog"> Configuración</a></li>
	            
				  <li>
				  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
				  </li>
				<% else %>
				  <li>
				  <%= link_to('Iniciar Sesion', new_user_session_path)  %>  
				  </li>
				<% end %>
	          </ul>
		 	</li>
		 	
		 </ul>
	
	</div>
	
	

<div class="">
<%= yield %>	
</div>


</body>
</html>
