<p id="notice"><%= notice %></p>

<h1>Listing Respuesta Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Texto</th>
      <th>Like</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respuesta_comentarios.each do |respuesta_comentario| %>
      <tr>
        <td><%= respuesta_comentario.texto %></td>
        <td><%= respuesta_comentario.like %></td>
        <td><%= respuesta_comentario.fecha %></td>
        <td><%= link_to 'Show', respuesta_comentario %></td>
        <td><%= link_to 'Edit', edit_respuesta_comentario_path(respuesta_comentario) %></td>
        <td><%= link_to 'Destroy', respuesta_comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respuesta comentario', new_respuesta_comentario_path %>
