<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>NombrePerfil</th>
      <th>Fotoperfil</th>
      <th>Fotoportada</th>
      <th>Descripcion</th>
      <th>Fechanacimiento</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Google</th>
      <th>Youtube</th>
      <th>Instagram</th>
      <th>Celular</th>
      <th>Telefono</th>
      <th>Lugarnacimiento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.nombrePerfil %></td>
        <td><%= profile.fotoPerfil %></td>
        <td><%= profile.fotoPortada %></td>
        <td><%= profile.descripcion %></td>
        <td><%= profile.fechaNacimiento %></td>
        <td><%= profile.facebook %></td>
        <td><%= profile.twitter %></td>
        <td><%= profile.google %></td>
        <td><%= profile.youtube %></td>
        <td><%= profile.instagram %></td>
        <td><%= profile.celular %></td>
        <td><%= profile.telefono %></td>
        <td><%= profile.lugarNacimiento %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
