<p id="notice"><%= notice %></p>

<p>
  <strong>Fotoperfil:</strong>
  <%= @profile.fotoPerfil %>
</p>

<p>
  <strong>Fotoportada:</strong>
  <%= @profile.fotoPortada %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @profile.descripcion %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @profile.fechaNacimiento %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @profile.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @profile.twitter %>
</p>

<p>
  <strong>Google:</strong>
  <%= @profile.google %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @profile.youtube %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @profile.instagram %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @profile.celular %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @profile.telefono %>
</p>

<p>
  <strong>Lugarnacimiento:</strong>
  <%= @profile.lugarNacimiento %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
