<p id="notice"><%= notice %></p>

<div class="row">


<div class="col-xs-6 col-sm-2">
<%= render :template => "publications/_anuncioLeft" %>
</div>

<% if user_signed_in? %>

<div class="col-xs-6 col-sm-6" style="border:1px solid;">
  <h1>Listing Publications</h1>
<table>
  <thead>
    <tr>
      <th>Texto</th>
      <th>Fecha</th>
      <th>Tipopublicacion</th>
      <th>Like</th>
      <th>Imagen</th>
      <th>Video</th>
      <th>Ubicacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.texto %></td>
        <td><%= publication.fecha %></td>
        <td><%= publication.tipoPublicacion %></td>
        <td><%= publication.like %></td>
        <td><%= publication.imagen %></td>
        <td><%= publication.video %></td>
        <td><%= publication.ubicacion %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Publication', new_publication_path %>
</div>
<% elsif %>
<div class="col-xs-6 col-sm-6" style="border:1px solid;">
  <p>Debes registrarte en la red Social</p>
  <%= link_to('Registrarme', new_user_registration_path) %>
</div>
<% end %>
 
  <div class="clearfix visible-xs"></div>

<div class="col-xs-6 col-sm-2" >
<%= render :template => "publications/_anuncioRight" %>
</div>
  <!-- La clase 'clearfix' sólo se aplica cuando el dispositivo sea
       muy pequeño, tal y como indica la clase 'visible-xs' -->
  <div class="clearfix visible-xs"></div>
<div class="col-xs-6 col-sm-2">
<%= render :template => "publications/_columnChat" %>
</div>
</div>
<div class="clearfix visible-xs"></div>
