
<!--/////////////////////GALERIA/////////////////////////// -->

<div class="row">
  
    <h1 id="nombreComercial"><%= @publicity.nombreComercial %></h1>
    
  <div id="descripcion" class="col-xs-6 col-lg-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere rem, omnis sequi nisi possimus dolores id debitis voluptatem quas, nostrum praesentium eligendi dignissimos. Quasi delectus tenetur asperiores aperiam. Dolorem, libero?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere rem, omnis sequi nisi possimus dolores id debitis voluptatem quas, nostrum praesentium eligendi dignissimos. Quasi delectus tenetur asperiores aperiam. Dolorem, libero?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, repellendus, mollitia? Itaque fugiat, magnam a fugit et vitae nesciunt dolorum ex quibusdam eius fuga quam autem nam sit voluptatem, amet.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aspernatur quisquam nesciunt quis praesentium a officia iusto inventore possimus qui porro nam ullam quo nemo magni placeat, animi impedit molestiae!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum officia molestias iste! Pariatur reiciendis commodi ea, culpa tenetur nostrum sed ullam cumque? Iusto neque maxime dolore, repellendus odio error ut.

    </p>
    
  </div>
 <div id="galeriaEmpresa" class="col-xs-12 col-sm-6 col-lg-8">
   <ul class="rslides" id="sliderEmpresa" style="">
        <li style="float: left; list-style: none; position: relative;"><img src="http://www.businessclass.co.uk/wp-content/uploads/sites/11/2015/10/070619_MUCA343_02-P-800x300.jpg" alt="">
          <p class="caption">Caption 1</p>
        </li>        
        <li style="float: left; list-style: none; position: relative; "><img src="https://www.azamaraclubcruises.com/sites/default/files/callout/popup/tallinn-palace-square.jpg" alt="">
        <p class="caption">Caption 2</p>
        </li>       
        <li style="float: left; list-style: none; position: relative; "><img src="http://coffeeandmarkets.com/wp-content/uploads/2015/06/shutterstock_computer_teenager_tech-800x300.jpg" alt="">
        <p class="caption">Caption 3</p>
        </li>        
        <li style="float: left; list-style: none; position: relative; "><img src="http://www.conacytprensa.mx/images/tecnologia/robotica/robotix-tech-summercamp2015.jpg" alt="">
        <p class="caption">Caption 4</p>
        </li>
        <li style="float: left; list-style: none; position: relative; "><img src="http://www.businessclass.co.uk/wp-content/uploads/sites/11/2015/07/787-900-c1-bollenveld-001-2-800x300.jpg" alt="">
        <p class="caption">Caption 5</p>
        </li>
        
           
    </ul>
 </div> 
</div>
<div class="clearfix visible-xs"></div>
 <!--////////////////FIN GALERIA/////////////////////////// -->
 
<div class="row">
 <!--///////////////////////////VIDEO/////////////////////////// -->
 <div id="fondoEncabezado">
   <p>VIDEOS</p>
 </div>
<div id="videoEmpresa">  
      <iframe width="560" height="315" src="https://www.youtube.com/embed/f2pvy1jsYcs" frameborder="0" allowfullscreen></iframe>         

      <iframe width="560" height="315" src="https://www.youtube.com/embed/f2pvy1jsYcs" frameborder="0" allowfullscreen></iframe>         

      <iframe width="560" height="315" src="https://www.youtube.com/embed/f2pvy1jsYcs" frameborder="0" allowfullscreen></iframe>         
  
</div>
</div>

<!--///////////////////////////VIDEO/////////////////////////// -->

<!-- /////////////////////// FOTOS //////////////////////////////-->

<div id="fondoEncabezado">
  <p>GALERIA FOROGRÁFICA</p>
</div>
<div id="galeriaFotografica"> 
   
<a class="fancybox" rel="group" href="/assets/galeria/big_image_1.jpg"><img src="/assets/galeria/small_image_1.jpg" alt="" /></a>
<a class="fancybox" rel="group" href="/assets/galeria/big_image_2.jpg"><img src="/assets/galeria/small_image_2.jpg" alt="" /></a>
<a class="fancybox" rel="group" href="/assets/galeria/big_image_1.jpg"><img src="/assets/galeria/small_image_1.jpg" alt="" /></a>
<a class="fancybox" rel="group" href="/assets/galeria/big_image_2.jpg"><img src="/assets/galeria/small_image_2.jpg" alt="" /></a>
  </div>

<!-- /////////////////////// FOTOS //////////////////////////////-->
<!--///////////////////////////CONTACTOS/////////////////////////// -->

<div id="fondoEncabezado">
  <p>CONTÁCTENOS</p>
</div>

<div id="infoContactos">
  <div id="direccionEmpresa">
    <img src="/assets/ubicaEmpresa.png" alt="">
    <p>Km 2 Vía Catama</p>
<p>Colombia, Meta, Villavicencio, Sin Barrio</p>
  </div>
  <div id="telefonosEmpresa">
    <img src="/assets/telefonosEmpresa.png" alt="">
    <p>038 6616666</p>
<p>320 834 9798 - 320 834 9798</p>
  </div>
  <div id="webEmpresa">
    <img src="/assets/webEmpresa.png" alt="">
    <p>reservas@hotelcampestrecampanario.com.co</p>
 <p>hotelcampestreelcampanario.com.co</p>
  </div>
</div>

<div id="redesSocialesEmpresa">
  <img src="/assets/chatEmpresa.png" alt="">
  <img src="/assets/llamarEmpresa.png" alt="">
  <img src="/assets/compartirEmpresa.png" alt="">
  <img src="/assets/twitterEmpresa.png" alt="">
  <img src="/assets/facebookEmpresa.png" alt="">
  <img src="/assets/youtubeEmpresa.png" alt="">
  <img src="/assets/googleEmpresa.png" alt="">
  <img src="/assets/instagramEmpresa.png" alt="">
</div>

<form action="" id="formContactos">
  <div id="headForm">
    <img src="/assets/iconForm.png" alt="">
    <h4>FORMULARIO DE CONTACTO</h4>
  </div>
  <div id="datosContacto">
      <input type="text" placeholder="Nombre">
      <input type="email" placeholder="Email">
      <input type="text" placeholder="Asunto">  
  </div>

  <div id="mensajeContacto">
  <textarea name="" id="" placeholder="Mensaje"></textarea>
  </div>

  <img id="enviaForm" src="/assets/enviarForm.png" alt="">
  <input type="submit" id="enviarForm">
</form>
<!--///////////////////////////CONTACTOS/////////////////////////// -->
<%= link_to 'Edit', edit_publicity_path(@publicity) %> |
<%= link_to 'Back', publicities_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @publicity.logo %>
</p>

<p>
  <strong>Nombrecomercial:</strong>
  <%= @publicity.nombreComercial %>
</p>

<p>
  <strong>Email:</strong>
  <%= @publicity.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @publicity.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @publicity.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @publicity.celular %>
</p>

<p>
  <strong>Web:</strong>
  <%= @publicity.web %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @publicity.experiencia %>
</p>

<p>
  <strong>Repertorio:</strong>
  <%= @publicity.repertorio %>
</p>

