<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @publicity.logo %>
</p>

<p>
  <strong>Nombrecomercial:</strong>
  <%= @publicity.nombreComercial %>
</p>

<p>
  <strong>Email:</strong>
  <%= @publicity.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @publicity.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @publicity.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @publicity.celular %>
</p>

<p>
  <strong>Web:</strong>
  <%= @publicity.web %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @publicity.experiencia %>
</p>

<p>
  <strong>Repertorio:</strong>
  <%= @publicity.repertorio %>
</p>

<%= link_to 'Edit', edit_publicity_path(@publicity) %> |
<%= link_to 'Back', publicities_path %>
