<p id="notice"><%= notice %></p>

<p>
  <strong>Fechainicial datetime:</strong>
  <%= @contrato.fechaInicial_datetime %>
</p>

<p>
  <strong>Fechafinal:</strong>
  <%= @contrato.fechaFinal %>
</p>

<p>
  <strong>Valortotal:</strong>
  <%= @contrato.valorTotal %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @contrato.descuento %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @contrato.estado %>
</p>

<%= link_to 'Edit', edit_contrato_path(@contrato) %> |
<%= link_to 'Back', contratos_path %>
