<%- if controller_name != 'sessions' %>
<div id="iniciarSesion">
	<div class="btn btn-success">
  <%= link_to "Iniciar Sesion", new_session_path(resource_name) %><br /></div></div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<div id="registrarme">
	<div class="btn btn-success">
  <%= link_to "Registrarme", new_registration_path(resource_name) %><br /></div></div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<div id="recordarPassword">
  <%= link_to "Recordad Contraseña", new_password_path(resource_name) %><br /></div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<div id="notConfirmation">
  <%= link_to "NO recibí las instrucciones de confirmación", new_confirmation_path(resource_name) %><br /></div>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<div id="notUnlock">
  <%= link_to "No recibí instrucciones de desbloqueo", new_unlock_path(resource_name) %><br /></div>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
